.call-center {
    padding: 70px 0;
    background-color: $gray;
}

.call-center__title {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.call-center__icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    transform: translateY(-10%);
    margin-left: 1rem;
}

.call-center__phones {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    a {
        margin-bottom: 20px;
        font-size: 1.5rem;
    }
}