.rehabilitation-header {
    background-color: #f9f7f3;
}

.rehabilitation-header {
    padding: 70px 0;
}

.rehabilitation__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    width: 700px;
    margin: 0 auto 30px;
}

.rehabilitation__description {
    padding: 0 30px;
    margin-bottom: 50px;
    font-size: 1.25rem;
    line-height: 1.7;
}

.rehabilitation__photo {
    width: 1000px;
    height: 500px;
    margin: 0 auto;

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}

.rehabilitation-schedule {
    padding: 70px 0;
    background-color: #fff;

    &__title {
        font-size: 1.75rem;
        font-weight: 700;
        text-align: center;
        width: 700px;
        margin: 0 auto 30px;
    }
    &__list {
        padding: 0 30px;

        ul {
            list-style: none;
            padding: 0;
            font-size: 1.5rem;
        }

        &-item {
            span {
                position: relative;
                margin-right: 2rem;
                font-weight: 500;

                &::after {
                    content: "";
                    display: block;
                    width: 10px;
                    height: 3px;
                    background-color: #000;
                    position: absolute;
                    right: -20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

.rehabilitation-price {
    padding: 70px 0;
    background-color: #f9f7f3;

    &__title {
        font-size: 1.75rem;
        font-weight: 700;
        text-align: center;
        width: 700px;
        margin: 0 auto 30px;
    }

    &__description {
        padding: 0 30px;
        margin-bottom: 50px;
        font-size: 1.25rem;
        line-height: 1.7;
    }

    h4 {
        font-size: 1.5rem;
    }

    ul {
        list-style: none;
        padding: 0;
        font-size: 1.2rem;
    }

    .card-title {
        font-size: 1.75rem;
    }
}
