.requisites {
    padding: 70px 0;
}

.requisites-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
    width: 700px;
    margin: 0 auto 50px;
    text-align: center;
}

.requisites-table {
    font-size: 0.9rem;
}