.residence {
    padding: 70px 0 50px;
    background-color: #f9f7f3;
}

.residence-title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    width: 700px;
    margin: 0 auto 30px;
}

.residence-description {
    padding: 0 30px;
    margin-bottom: 50px;
    font-size: 1.25rem;
    line-height: 1.7;
}

.residence-carousel {
    padding: 70px 0;
    &__inner {
        position: relative;
    }
}

#residence-carousel {
    width: 100%;
    max-height: 600px;
    height: 100%;
    margin-bottom: 3rem;
}

.residence-carousel-item {
    width: 100%;
    max-height: 600px;
    height: 100%;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        max-height: 600px;
        height: 100%;
        object-fit: cover;
    }
}

.residence-carousel-arrow {
    display: block;
    width: 2rem;
    height: 2rem;

    position: absolute;
    z-index: 1000;

    border: none;
    font-size: 0;
    line-height: 0;
    background: transparent;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &:focus {
        outline: none;
    }

    &--prev {
        top: 50%;
        left: -2rem;
        transform: translateY(-50%);

        background-image: url("../images/back.png");
    }

    &--next {
        top: 50%;
        right: -2rem;
        transform: translateY(-50%);

        background-image: url("../images/next.png");
    }
}
