<footer class="footer">
    <div class="container">
        <div class="footer-info">
            <div class="row">
                <div class="col-3">
                    <h3 class="mb-4">Реабилитация</h3>
                    <a href="#">Инсульт</a>
                    <a href="#">Травма головы</a>
                    <a href="#">Травма позвоночника</a>
                    <a href="#">Инфаркт миокарда</a>
                    <a href="#">Онкология</a>
                    <a href="#">Эндопротезирование и траватология</a>
                    <a href="#">После операций</a>
                    <a href="#">Гериатрия (уход за пожилыми)</a>
                    <a href="#">Помиативная теропия</a>
                    <a href="#">Пост ковидный чек-ап</a>
                </div>
                <div class="col-3">
                    <h3 class="mb-4">Условия и улуги</h3>
                    <a href="#">Обязательный перечень исследований</a>
                    <a href="#">Процесс реабилитации</a>
                    <a href="#">Прайс-лист</a>
                    <a href="#" class="mb-4">Проживание</a>
                    
                </div>
                <div class="col-3">
                    <h3 class="mb-4">О нас</h3>
                    <a href="#">3D Тур</a>
                    <a href="#">Мисся</a>
                    <a href="#">Наша команда</a>
                    <a href="#">Интервью наших специалистов</a>
                </div>
                <div class="col-3">
                    <h3 class="mb-4">Социальные сети</h3>
                    <div class="footer-social">
                        <a href="#">
                            <img src="assets/images/instagram.svg" alt="Instagram">
                        </a>
                        <a href="#">
                            <img src="assets/images/facebook.svg" alt="Instagram">
                        </a>
                        <a href="#">
                            <img src="assets/images/youtube.svg" alt="Instagram">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-down">
            <div class="row">
                <div class="col-2">
                    <h3>Dos-medicus</h3>
                    <small class="d-block mb-3 text-muted">© 2017-2020</small>
                </div>
                <div class="col-4 text-center">
                    <p>Контакты:<br>8 705 296 25 69,<br> 8 775 603 01 30</p>
                </div>
                <div class="col-3">
                    <button type="button" class="footer-btn btn btn-lg btn-outline-light">Прислать выписку</button>
                </div>
                <div class="col-3">
                    <button type="button" class="footer-btn btn btn-lg btn-outline-light">Оплатить заказ</button>
                </div>
            </div>
        </div>
    </div>
</footer>